#header {
  display: flex;
  flex-direction: row;
  
}
#head-left{
  display:flex;
  width: 50vw;
  justify-content: flex-start;
}
#head-right{
  display:flex;
  width: 50vw;
  justify-content: flex-end;
}
#body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vw;
}
#search-bar{
  width:60vw;
  height:4vw;
  border-radius: 25px;
  border: 2px solid #dbdbdb;
}
#footer{
  display:flex;
  flex-direction: row;
  width: 1fr;
}
#foot-left{
  display:flex;
  width: 50vw;
  justify-content: flex-start;
}
#foot-right{
  display:flex;
  width: 50vw;
  justify-content: flex-end;
}
.button {
  background-color: #dbdbdb;
  border-radius:4px;
  padding: 5px 10px;
  border: 0;
  box-shadow: none;
}

.button:hover {
  border: 1px solid #808080;
}